/* Uso de extend y mixins  */
/* variables */
/* Ejemplos usando Mixin */
#titulo {
  text-align: left;
  color: black; }

body {
  background-color: white;
  text-align: center;
  color: black; }

p, #navmenu, #footercenter, #parrafo, #carouselitem {
  text-align: left;
  color: black; }

a {
  color: black;
  text-decoration: none; }

#navmenu {
  text-align: left;
  color: black; }

#footercenter {
  text-align: center;
  color: black; }

#parrafo {
  text-align: justify;
  height: 400px;
  overflow: auto; }

#carouselitem {
  text-align: center; }
