/* Uso de extend y mixins  */

@import "misvariables";

/* Ejemplos usando Mixin */
@mixin alineacionTextos ($jutificacion, $colorLetra) {
  text-align: $jutificacion;
  color: $colorLetra;
}

#titulo {
  @include alineacionTextos ($izquierda, black); 
}

body {
  background-color: $blanco;
  @include alineacionTextos ($centrado, black); 
}

p {
  @include alineacionTextos ($izquierda, black);
  font-weight: normal; 
}

a {
  color: $negro;
  text-decoration: $decoracion; }

#navmenu {
  /*@extend p;*/
  @include alineacionTextos ($izquierda, black);
  font-weight: bold; 
}

#footercenter {
  @extend p;
  @include alineacionTextos ($centrado, black); 
  font-weight: bold; 
}

#parrafo {
  @extend p;
  text-align: $justificado;
  height: $altura;
  overflow: $ajuste; }

#carouselitem {
  @extend p;
  text-align: $centrado; }