/* Prueba de funcionamiento de sass*/

body{
    background-color: lightblue;    
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
    }

#navmenu{
    text-align: left;
}

#footercenter{
    text-align: center;
}

#parrafo {
    /*background-color: rgb(255, 255, 255);  */
    text-align: justify;
    height: 400px;
    overflow: auto;
}

#carouselitem{
    text-align: center;
}

p{
    text-align: left;
}